body{
  background-color:#e8e7dd;
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
}
@media screen and (min-width:720px){
  .container{
    width:100%;
  }
}
.login-body{
  padding:30px 10px;
  border:1px solid #ccc;
  background-color: #dbdad0;
  /*
  //Firefox4.0-  
   -moz-box-shadow:投影方式 X轴偏移量 Y轴偏移量阴影模糊半径 阴影扩展半径 阴影颜色;  
   //Safariand Google chrome10.0-  
   -webkit-box-shadow:投影方式 X轴偏移量 Y轴偏移量阴影模糊半径 阴影扩展半径 阴影颜色;  
   //Firefox4.0+、 Google chrome 10.0+ 、 Oprea10.5+ and IE9  
   box-shadow:  投影方式 X轴偏移量 Y轴偏移量 阴影模糊半径 阴影扩展半径 阴影颜色;
   */
  -moz-box-shadow: 1px 8px 10px #d1d0c7; 
  -webkit-box-shadow: 1px 8px 10px #d1d0c7; 
  box-shadow:   1px 8px 10px #d1d0c7; 
}
.navbar {
    border-radius: 0;
}
.navbar-brand{
  width:120px;
  background: url(../images/logo_admin.png) no-repeat;
  background-position: 15px 50%;
}
@media screen and (min-width:320px){
  .login-body{
    width:96%;
    margin:40% auto;
  }
}
@media screen and (min-width:480px){
  .login-body{
    width:90%;
    margin:20% auto;
  }
}
@media screen and (min-width:640px){
  .login-body{
    width:80%;
    margin:20% auto;
  }
}
@media screen and (min-width:720px){
  .login-body{
    width:50%;
    margin:10% auto;
  }
}
@media screen and (min-width:768px){
  .login-body{
    width:50%;
    margin:8% auto;
  }
}
@media screen and (min-width:900px){
  .login-body{
    width:30%;
    margin:15% auto;
  }
}
/*@media screen and (min-width:240px) and (max-width:320px){
  .login-body{
    margin:2% 2%;
  }
}
@media screen and (min-width:321px) and (max-width:640px){
  .login-body{
    margin:2% 2%;
  }
}
@media screen and (min-width:641px) and (max-width:720px){
  .login-body{
    margin:5% 8%;
  }
}
@media screen and (min-width:721px) and (max-width:750px){
  .login-body{
    margin:5% 12%;
  }
}
@media screen and (min-width:751px) and (max-width:900px){
  .login-body{
    margin:15% 20%;
  }
}*/