<div class="f-container-item" data-mark="list" ref="container_scroll">
    <div class="panel-box" v-for="(item,index) in previewDataList">
        <div class="weui-panel">
          <div class="weui-panel__hd">
            <a :href="getDetailPath(item)" class="weui-cell weui-cell_access weui-cell_link weui-media-box__title" :data-key="item.alias" >{{item.title}}</a>
            <div class="weui-media-box weui-media-box_text">
                <!-- <h4 class="weui-media-box__title">标题一</h4> -->
                <p class="weui-media-box__desc" v-html="item.summary"></p>

            </div>

          </div>
          <div class="weui-panel__hd">
            <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta" >作者：finneen</li>
                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">标签：{{item.lblName}}</li>
                <!-- <li class="weui-media-box__info__meta weui-media-box__info__meta_extra" >写于：{{item.createTime}}</li> -->
            </ul>
          </div>
        </div>
    </div>
    <div class="weui-toast extend-toast do-hide" ref="toast_block">
        <div>
          <i class="weui-loading weui-icon_toast"></i>
          <p class="weui-toast__content">数据加载中</p>
        </div>
        <div class="weui-toast__content" style="display:none;"></div>
    </div>
  </div>